# Variables d'environnement a saisir dans Render
# (Web Service > Environment > Add Environment Variable)
#
# ATTENTION : utiliser l'External Host de la base Render
# (dpg-xxxx.oregon-postgres.render.com), PAS l'Internal Database URL.

POSTGRES_HOST=dpg-xxxx.oregon-postgres.render.com
POSTGRES_PORT=5432
POSTGRES_DB=inventaire
POSTGRES_USER=admin
POSTGRES_PASSWORD=<mot de passe genere par Render>
POSTGRES_SSLMODE=require
API_PORT=5000
FLASK_ENV=production
